<launch>
	<rosparam file="$(find discrete_move)/config/discrete_move.yaml" command="load"/>
    <include file="$(find astra_camera)/launch/astra.launch" />
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <node name="server" pkg="discrete_move" type="server.py" output="screen" />
</launch>
